<!DOCTYPE html>
<html lang="en" th:replace="partials :: pagina(~{::dashboard}, 'Gestor Escolar', 'home')">
<head>
    <link href='https://unpkg.com/boxicons@2.1.2/css/boxicons.min.css' rel='stylesheet'>
</head>

<body>
    <!-- Painel do Aluno -->
    <th:block th:if="${usuarioLogado.role == 'ALUNO'}" th:fragment="dashboard">
      <section>
        <div class="row">
            <div class="col-sm-12">
                <h4 class="titles">Disciplinas</h4>
                <div class="row">
                    <a th:href="@{/disciplina/{id}(id=${disciplina.id})}" class="card-disciplina clicavel card mt-3" th:each="disciplina : ${disciplinas}">
                        <div class="card-body">
                        <h5 class="card-title text-center" th:text="${disciplina.nome}"></h5>
                        <!-- <p class="card-subtitle">Professora Patrícia</p> -->
                        </div>
                    </a>
                </div>
                <!-- Novo conteúdo -->
                <h4 class="titles">Cronograma das Aulas</h4>
                <div class="table-responsive">
                    <table class="table">
                        <thead class="table-dark">
                          <tr>
                            <th scope="col">Horário</th>
                            <th scope="col">Segunda</th>
                            <th scope="col">Terça</th>
                            <th scope="col">Quarta</th>
                            <th scope="col">Quinta</th>
                            <th scope="col">Sexta</th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr>
                            <th>7:20 - 8:10</th>
                            <td>Números</td>
                            <td>Ed. Física</td>
                            <td>Química</td>
                            <td>Filosofia</td>
                            <td>Matemática</td>
                          </tr>
                          <tr>
                            <th>8:10 - 9:00</th>
                            <td>Inglês</td>
                            <td>Prod. de Texto</td>
                            <td>Sociologia</td>
                            <td>Inic. Científica</td>
                            <td>Física</td>
                          </tr>
                          <tr>
                            <th>9:00 - 9:50</th>
                            <td>Geografia</td>
                            <td>Números</td>
                            <td>Biologia</td>
                            <td>Português</td>
                            <td>Biologia</td>
                          </tr>
                          <tr>
                            <th>Intervalo</th>
                            <td>######</td>
                            <td>######</td>
                            <td>######</td>
                            <td>######</td>
                            <td>######</td>
                          </tr>
                          <tr>
                            <th>10:10 - 11:00</th>
                            <td>Arte</td>
                            <td>Prod. de Texto</td>
                            <td>Projeto de Vida</td>
                            <td>Português</td>
                            <td>Protagonismo</td>
                          </tr>
                          <tr>
                            <th>11:00 - 11:50</th>
                            <td>Inic. Científica</td>
                            <td>Matemática</td>
                            <td>História</td>
                            <td>Projeto de Vida</td>
                            <td>Protagonismo</td>
                          </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </section>
    </th:block>


    <!-- PAINEL DO PROFESSOR -->
    <th:block th:if="${usuarioLogado.role == 'PROFESSOR'}" th:fragment="dashboard">
      <section>
        <div class="row">
            <div class="col-sm-12">
                <h4 class="titles">Disciplinas</h4>
                <div class="row">
                    <th:block th:if="${!disciplinas2.isEmpty}">
                    <a th:href="@{/disciplina/{id}(id=${disciplina.id})}" class="card-disciplina clicavel card mt-3" th:each="disciplina : ${disciplinas2}">
                        <div class="card-body">
                        <h5 class="card-title text-center" th:text="${disciplina.nome}"></h5>
                        <!-- <p class="card-subtitle">Professora Patrícia</p> -->
                        </div>
                    </a>
                    </th:block>
                    <th:block th:if="${disciplinas2.isEmpty}"> 
                      <p>Você ainda não é responsável por nenhuma disciplina</p>
                    </th:block>
                </div>
                <h4 class="titles">Atividades <a th:href="@{/professor/atividades}" class="badge bg-primary text-decoration-none criar">Criar</a></h4>
                <th:block th:if="${atividades.isEmpty}"><p>Ainda não há nenhuma atividade nessa disciplina</p></th:block>
                <th:block th:if="${!atividades.isEmpty}">
                    <div class="card text-center mb-5" style="margin-right: 15px;" th:each="atividade : ${atividades}">
                        <div class="card-header">
                          <strong>Nova Atividade</strong>
                        </div>
                        <div class="card-body">
                          <h5 class="card-title" th:text="${atividade.nome}"></h5>
                          <p class="card-text" th:text="${atividade.descricao}"></p>
                          <a th:href="${atividade.url}" class="btn btn-primary">Fazer a atividade</a>
                        </div>
                        <div class="card-footer text-muted">
                          <strong>Valendo <span th:text="${atividade.pontuacao}"></span></strong>
                        </div>
                    </div>
                </th:block>

              </div>
        </div>
    </section>
    </th:block>
</body>

</html>
